.books {
  &__wrapper {
    display: flex;
  }

  &__wrapper-left {
    width: 268px;
    padding-right: 25px;
  }

  &__bookmarks-heading-wrapper {
    width: 218px;
    margin-bottom: 25px;
  }

  &__heading {
    font-weight: 400;
    color: #000000;
  }

  &__bookmarks-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
  }

  &__bookmarks-list {
    max-height: 515px;
    overflow-y: auto;
  }

  &__bookmarks-items {
    width: 218px;
    background-color: #f8fafd;
    border-radius: 4px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__items-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
  }

  &__items-heading {
    width: 120px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 5px;
  }

  &__items-right {
    display: flex;
    align-items: center;
  }

  &__btn-more-info {
    margin-right: 8px;
  }

  &__btn-more-info,
  &__btn-delete {
    width: 24px;
    height: 24px;
  }

  &__wrapper-right {
    max-width: 991px;
    width: 100%;
    max-height: 760px;
    height: 100%;
  }

  &__search-list {
    max-height: 615px;
    overflow-y: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 40px;
    background-color: #e5e5e5;
    border-bottom-left-radius: 15px;
  }

  &__search-items {
    width: 282px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 33px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    padding: 13px 15px 13px 18px;
  }

  &__image-shadow {
    background-color: #f8fafd;
    padding: 18px 28px 18px 20px;
    border-radius: 5px;
    margin-bottom: 19px;
  }

  &__card-img-top {
    width: 201px;
    height: 202px;
  }

  &__card-title {
    width: 246px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 2px;
  }

  &__card-date {
    margin-bottom: 10px;
  }

  &__btn-wrapper {
    width: 246px;
    margin-bottom: 5px;
  }

  &__btn-wrapper-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__btn-bookmark {
    font-weight: 500;
    padding: 10px 26px;
    background-color: #ffd80d;
    border: 1px #ffd80d solid;
    border-radius: 4px;
    color: #000000;
    transition: background 0.7s ease;
  }

  &__btn-info {
    padding: 10px 28px;
    background-color: rgba(13, 117, 255, 0.05);
    border-radius: 4px;
    color: #0d75ff;
  }

  &__card-link {
    padding: 10px 106px;
    color: #ffffff;
    background-color: #75828a;
    border-radius: 4px;
  }
}
