.more-info {
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 553px;
    height: 100vh;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(168%, 0);
    z-index: 99999;
    overflow: hidden;
    overflow-y: scroll;
  }

  &__header {
    margin-bottom: 45px;
  }

  &__heading {
    font-weight: 500;
    color: #222531;
  }

  &__body {
    flex-grow: 1;
    padding-left: 46px;
    padding-right: 35px;
    margin-bottom: 115px;
  }

  &__card-img-top {
    margin-left: 102px;
    margin-bottom: 51px;
  }

  &__card-description {
    font-size: 13px;
    line-height: 22px;
    color: #58667e;
    margin-bottom: 100px;
  }

  &__card-details {
    display: flex;
    align-items: center;
    color: #222531;
    &:not(:last-child) {
      margin-bottom: 27px;
    }
  }

  &__span-wrapper {
    margin-left: 10px;
  }

  &__footer {
    justify-content: flex-end;
    padding-top: 14px;
    padding-bottom: 14px;
    margin: 0;
  }

  &__read-btn {
    font-family: "Rubik";
    padding: 9px 38px;
    background: #75828a;
    border-radius: 4px;
    color: #ffffff;
  }

  &__shadow-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 55555;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
