.container {
  max-width: 1299px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v23-latin-regular.woff2") format("woff2"), url("../fonts/rubik-v23-latin-regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v23-latin-500.woff2") format("woff2"), url("../fonts/rubik-v23-latin-500.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/noto-sans-v27-latin-500.woff2") format("woff2"), url("../fonts/noto-sans-v27-latin-500.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-v25-latin-300.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-300.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-500.woff") format("woff");
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Rubik";
  font-size: 16px;
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

td {
  padding: 0;
  margin: 0;
}

.scale:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.text--similarities {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.btn-unstyled {
  border: none;
  background: none;
  outline: none;
  padding: 0;
}

.text--similarity {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #757881;
}

.heading--similarities {
  font-size: 24px;
  line-height: 28px;
}

.header {
  margin-top: 11px;
  background-color: #FFFFFF;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 11px;
}
.header__logo {
  margin-right: 56px;
}
.header__logo-img {
  width: 226px;
  height: 44px;
}
.header__input {
  width: 670px;
  background: #F8FAFD;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 14.5px;
  border: none;
}
.header__btn-wrapper {
  display: flex;
  align-items: center;
}
.header__light-mode {
  width: 23px;
  height: 23px;
  background: none;
  border: none;
  outline: none;
  margin-right: 15px;
}
.header__btn-logout {
  width: 99px;
  height: 40px;
  font-family: "Rubik";
  font-weight: 400;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #0D75FF;
  border: none;
  border-radius: 4px;
}
.header__btn-logout:active {
  color: #0D75FF;
  background-color: #FFFFFF;
  border: 2px solid #0D75FF;
}
.header__wrapper-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
}

.books__wrapper {
  display: flex;
}
.books__wrapper-left {
  width: 268px;
  padding-right: 25px;
  position: sticky;
  top: 0;
}
.books__bookmarks-heading-wrapper {
  width: 218px;
  margin-bottom: 25px;
}
.books__heading {
  font-weight: 400;
  color: #000000;
}
.books__bookmarks-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}
.books__bookmarks-items {
  width: 218px;
  background-color: #F8FAFD;
  border-radius: 4px;
}
.books__items-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.books__items-heading {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 5px;
}
.books__items-right {
  display: flex;
  align-items: center;
}
.books__btn-open {
  margin-right: 8px;
}
.books__btn-open, .books__btn-delete {
  width: 24px;
  height: 24px;
}
.books__search-list {
  background-color: #E5E5E5;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-grow: 1;
  padding-top: 40px;
}
.books__search-items {
  width: 282px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 33px;
}
.books__card {
  display: flex;
  flex-direction: column;
  padding: 13px 15px 13px 18px;
}
.books__image-shadow {
  background-color: #F8FAFD;
  padding: 18px 28px 18px 20px;
  border-radius: 5px;
  margin-bottom: 19px;
}
.books__card-img-top {
  width: 201px;
  height: 202px;
}
.books__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 2px;
}
.books__card-date {
  margin-bottom: 10px;
}
.books__btn-wrapper {
  width: 246px;
  margin-bottom: 5px;
}
.books__btn-wrapper-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.books__btn-bookmark {
  font-weight: 500;
  padding: 10px 26px;
  background-color: #FFD80D;
  border-radius: 4px;
  color: #000000;
}
.books__btn-info {
  padding: 10px 28px;
  background-color: rgba(13, 117, 255, 0.05);
  border-radius: 4px;
  color: #0D75FF;
}
.books__card-link {
  padding: 10px 106px;
  color: #FFFFFF;
  background-color: #75828A;
  border-radius: 4px;
}

.result {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
}
.result__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result__text {
  color: #222531;
  margin-left: 306px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.result__date-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Rubik";
  width: 165px;
  height: 34px;
  padding: 5px 13px;
  color: #FFFFFF;
  background-color: #A6B0C3;
  border: none;
  border-radius: 4px;
}

.books__wrapper {
  display: flex;
}
.books__wrapper-left {
  width: 268px;
  padding-right: 25px;
  position: sticky;
  top: 0;
}
.books__bookmarks-heading-wrapper {
  width: 218px;
  margin-bottom: 25px;
}
.books__heading {
  font-weight: 400;
  color: #000000;
}
.books__bookmarks-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}
.books__bookmarks-items {
  width: 218px;
  background-color: #F8FAFD;
  border-radius: 4px;
}
.books__items-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.books__items-heading {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 5px;
}
.books__items-right {
  display: flex;
  align-items: center;
}
.books__btn-open {
  margin-right: 8px;
}
.books__btn-open, .books__btn-delete {
  width: 24px;
  height: 24px;
}
.books__search-list {
  background-color: #E5E5E5;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-grow: 1;
  padding-top: 40px;
}
.books__search-items {
  width: 282px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 33px;
}
.books__card {
  display: flex;
  flex-direction: column;
  padding: 13px 15px 13px 18px;
}
.books__image-shadow {
  background-color: #F8FAFD;
  padding: 18px 28px 18px 20px;
  border-radius: 5px;
  margin-bottom: 19px;
}
.books__card-img-top {
  width: 201px;
  height: 202px;
}
.books__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 2px;
}
.books__card-date {
  margin-bottom: 10px;
}
.books__btn-wrapper {
  width: 246px;
  margin-bottom: 5px;
}
.books__btn-wrapper-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.books__btn-bookmark {
  font-weight: 500;
  padding: 10px 26px;
  background-color: #FFD80D;
  border-radius: 4px;
  color: #000000;
}
.books__btn-info {
  padding: 10px 28px;
  background-color: rgba(13, 117, 255, 0.05);
  border-radius: 4px;
  color: #0D75FF;
}
.books__card-link {
  padding: 10px 106px;
  color: #FFFFFF;
  background-color: #75828A;
  border-radius: 4px;
}

.more-info {
  width: 553px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.more-info__header, .more-info__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 33px;
  background-color: #F8FAFD;
  margin-bottom: 45px;
}
.more-info__heading {
  font-weight: 500;
  color: #222531;
}
.more-info__body {
  padding-left: 46px;
  padding-right: 35px;
  margin-bottom: 115px;
}
.more-info__card-img-top {
  margin-bottom: 51px;
}
.more-info__card-description {
  font-size: 13px;
  line-height: 22px;
  color: #58667E;
  margin-bottom: 100px;
}
.more-info__card-details {
  color: #222531;
}
.more-info__card-details:not(:last-child) {
  margin-bottom: 27px;
}
.more-info__span {
  color: #0D75FF;
  padding: 8px 11px;
  background-color: rgba(13, 117, 255, 0.09);
  border-radius: 30px;
}
.more-info__span:first-child {
  margin-left: 11px;
  margin-right: 5px;
}
.more-info__footer {
  justify-content: flex-end;
  padding-top: 14px;
  padding-bottom: 14px;
}
.more-info__read-btn {
  font-family: "Rubik";
  padding: 9px 38px;
  background: #75828A;
  border-radius: 4px;
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */